.clients__header {
  @include font_style(700, 28px, 1.17, null, 0.03em);
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font_style(700, 36px, 1.16, null, 0.03em);
  }
}

.clients__list {
  @include flex(flex, null, null, null, wrap);
  margin: -15px;
}

.clients__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  @include flex(flex, center, center, null, null);
  min-width: 170px;
  height: 92px;

  @include border_style(null, null, 4px, 1px solid $soc-inactive-color);
  color: $soc-inactive-color;

  @include transition(
    border-color,
    color,
    null,
    $time-transition,
    $time-transition
  );
  &:hover,
  &:focus {
    color: $active-element-color;
    @include border_style(null, null, null, 1px solid $active-element-color);
    outline: none;
  }
}
