.header-contacts__link {
  @include font_style(500, 34px, 1.17, normal, 0.02em);
  padding: 16px 16px;
  display: flex;
  color: $second-fonts-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include flex(flex, null, center null, null, null);
    @include transition(color, null, null, $time-duration, $time-transition);
    @include font_style(500, 12px, 1.16, normal, 0.02em);
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $active-element-color;
  }
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);

  @include font_style(400, 14px, 1.71, normal, 0.02em);

  &:hover,
  &:focus {
    color: $active-element-color;
    outline: none;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
