.container {
  width: 200px;
  padding: 0 15px;
  margin: 0 auto;

  .hero & {
    max-width: 360px;
    padding: 0;
    text-align: center;
    @media screen and (min-width: 1200px) {
      max-width: 696px;
    }
  }
  .header & {
    display: flex;
  }

  .footer & {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header {
  background-color: $basic-color;
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
