.filter__list {
  @include flex(flex, flex-start, space-between, null, wrap);
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    @include flex(flex, center, null, null, null);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    @include flex(flex, center, null, null, null);
    margin-bottom: 50px;
  }
}

.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
