.footer {
  padding: 60px 0;
  background-color: $hero-color;
}

.footer-mobile {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: auto;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

.footer-soc__text {
  margin: 0 0 20px;
  @include font_style(700, 14px, 1.14, null, 0.03em);

  text-transform: uppercase;

  color: $basic-color;
}

.footer__address {
  @media screen and(max-width:767px) {
    &:first-of-type {
      margin-bottom: 60px;
    }
  }

  @media screen and(min-width:768px) {
    &.footer-soc {
      margin-right: 0;
    }
  }

  @media screen and(min-width:1200px) {
    margin-right: 97px;
    text-align: left;
    &.footer-soc {
      margin-right: 0;
    }
  }
}

.address__text {
  margin: 0 0 9px;
  font-style: normal;
  @include font_style(null, 14px, 1.71, null, 0.03em);

  color: $basic-color;
}
