.header-link__logo,
.footer-link__logo {
  font-family: $logo-font;

  @include font_style(700, 24px, 1.16, null, 0.03em);

  color: $first-fonts-color;

  @media screen and (min-width: 1200px) {
    @include font_style(700, 26px, 1.19, null, 0.03em);
  }

  &:focus,
  &:hover {
    color: $active-element-color;
    outline: none;
  }
}

.logo--color-blue {
  color: $active-element-color;
}

.header-link__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.footer-link__logo {
  display: block;
  margin-bottom: 20px;
  color: $basic-color;
}
