.mobile-wrap {
  display: flex;
  @media screen and (max-width: 767.98px) {
    justify-content: space-between;
    .menu-container & {
      flex-basis: 100%;
      height: 100%;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.menu-container {
  @media screen and (max-width: 767.98px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px 15px;

    background-color: $basic-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    & .button__menu-toggle {
      position: absolute;
      top: 16px;
      right: 16px;
    }
    &.is-open {
      transform: translateX(0);
    }
  }
}
.soc__menu {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 10px;
  justify-content: flex-start;

  .soc__menu-item + .soc__menu-item::before {
    content: '';
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    padding-top: 5px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
