.team {
  background-color: $second-color;
}

.team__title {
  @include font_style(700, 28px, 1.17, null, 0.03em);
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    @include font_style(700, 36px, 1.16, null, 0.03em);
    margin-bottom: 50px;
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    @include flex(flex, null, null, null, wrap);
    margin: -15px;
  }
}
.team__item {
  margin: 0 auto;
  background: $basic-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__name {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;

  @include font_style(500, 16px, 1.18, null, 0.03em);
}

.team__position {
  margin: 0 0 16px;
  text-align: center;

  @include font_style(null, 16px, 1.18, null, 0.03em);

  color: $second-fonts-color;
}

.team__content {
  padding: 30px 24px;
  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}
