@mixin font_style($fw, $fz, $lh, $fs, $ls) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  font-style: $fs;
  letter-spacing: $ls;
}

@mixin transition($one, $two, $three, $time-duration, $time-transition) {
  transition-property: $one, $two, $three;
  transition-duration: $time-duration;
  transition-timing-function: $time-transition;
}

@mixin flex($display, $js, $ai, $fd, $fw) {
  display: $display;
  justify-content: $js;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

@mixin border_style($bg, $bs, $br, $border) {
  background-color: $bg;
  box-shadow: $bs;
  border-radius: $br;
  border: $border;
}

@mixin icons($w, $h, $fill) {
  width: $w;
  height: $h;
  fill: $fill;
}
